# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp


# Virtual Environment
venv/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
*.env
*.venv
.venv
