{% extends 'inventory/base.html' %}

{% block content %}

<h1>Dashboard: {{current_business.name}} </h1>
<h2> Owned by: {{current_business.owner}} </h2>
<h2>Address: {{current_business.address}} </h2>
<h2>Created at: {{current_business.created_at}}</h2>
<h2>Total Products: {{total_products}}</h2>
<h2>Total Stock: {{total_stock_value}}</h2>
<h2>Low Stock Products: {{low_stock_count}}</h2>
<div><a href="{% url 'product_list' %}">View Products</a></div>


<a href="{% url 'business_list' %}"> Businesses </a>

<div>
    <a href="{% url 'transaction_add' %}">Transactions</a>
</div>

{% endblock content %}


